h1 {
    font-family: Cabin;
    font-size: 2.48832rem;
    letter-spacing: 2px;
    line-height: 1.125;
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: 700;
    color: #2c313f;
    text-align: center;
}

p {
    color: #74767e;
    font-family: Raleway;
    font-size: 1rem;
    word-wrap: break-word;
    margin-bottom: 32px;
}

html {
    font-size: 20px;
}

.page {
    margin: auto;
    max-width: 900px;
    padding: 32px 16px;
}

blockquote p {
    font-size: 0.69444rem;
    margin-top: 8px;
    margin-bottom: 16px;
    text-align: center;
    color: #767676;
}

h4 {
    color: #686868;
    font-weight: 500;
    font-size: .7em;
    font-family: Segoe UI;
    text-align: center;
}

h2, h3 {
    font-family: Cabin;
    color: #181818;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

a {
    color: rgb(62, 105, 220);
    text-decoration: none;
    font-family: Raleway;
    transition: color 0.4s;
    text-decoration: underline;
    padding: 0.25em 0;
    display: block;
    text-underline-offset: 6px;
}

a:hover {
    color: #181818;
}

.page-site-header a  {
    color: #181818;
    margin-bottom: 30px;
}

.page-bottom-navigation {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.page-bottom-navigation a {
    text-underline-offset: 4px;
}

.page-bottom-navigation .previous-link, .page-bottom-navigation .next-link {
    display: flex;
    flex-direction: column;
}

.page-bottom-navigation .next-link {
    align-items: flex-start;
    text-align: left;
}

.page-bottom-navigation .previous-link {
    align-items: flex-end;
    text-align: right;
}

.list-of-posts {
    display: grid;
    gap: 24px;
    grid-template-columns: 400px 400px;
    width: 824px;
    margin: auto;
}

.list-of-posts img {
    border-radius: 12px;
}

.list-of-posts .post-container {
    position: relative;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
}

.list-of-posts .post-title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4)
}

.list-of-posts .post-date {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4)
}

.category-list {
    padding: 24px;
    text-align: center;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 900px) {
    .list-of-posts {
        grid-template-columns: 1fr;
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .category-list {
        grid-template-columns: 1fr;
    }
}
  